<div class="event">
  <div class="title"><a href={{event.link}} target="_blank" title="">{{event.title}}</a></div>
  <div class="date">
    {{ moment-format event.date 'LL' }} - {{ moment-from-now event.date }}
  </div>
  <div class="summary">
    <p>{{{ linkify-text event.description }}}</p>
    <div class="more">
      {{link-to-calendar event=event}}
      {{link-to-event event=event}}
    </div>
  </div>
</div>
