{{#if isTextarea }}
  {{textarea name=name value=value class=elementClass required="true"}}
{{/if}}

{{#if isDate}}
  {{pikaday-input name=name value=value format="DD/MM/YYYY" class=elementClass useUTC=true required=true}}
{{/if}}

{{#if isTime}}
<div id="jq-dropdown-1" class="jq-dropdown jq-dropdown-tip">
    <ul class="jq-dropdown-menu">
        <li><a href="#1">Item 1</a></li>
        <li><a href="#2">Item 2</a></li>
        <li><a href="#3">Item 3</a></li>
        <li class="jq-dropdown-divider"></li>
        <li><a href="#4">Item 4</a></li>
        <li><a href="#5">Item 5</a></li>
        <li><a href="#5">Item 6</a></li>
    </ul>
</div>
  {{input type='text' data-jq-dropdown="#jq-dropdown-1" value=value name=name class=elementClass required="true" focus-in="showTimes"}}
{{/if}}

{{#if isInput}}
  {{input type=type value=value name=name class=elementClass required="true"}}
{{/if}}

<label for='{{name}}'>{{label}}</label>
