{{#unless isValid}}
 <div class="callout callout-error">
  <h4>¡Ups! Houston, tenemos un problema</h4>
  <p>No hemos podido crear el evento, por favor, revisa que los datos son correctos</p>
</div>
{{/unless}}
{{#if isSaved }}
<div class="callout callout-success">
  <h4>¡Yuju! ¡Evento dado de alta!</h4>
  <p>Hemos dado de alta tu evento, pero ten en cuenta que la publicación no es inmediata.</p>
</div>
{{/if}}
<form class="pure-form pure-form-stacked event">
  <fieldset>
    <div class="pure-g">

      {{form-field name='title' label="Título *" value=model.title type="text"}}
      {{form-field name='description' label="Descripción *" value=model.description type="textarea"}}
      {{form-field name='link' label="Link *" value=model.link type="text"}}
      {{form-field name='date' label="Fecha *(dd/mm/yyyy)" value=model.date type="date" columns=3}}
      {{form-field name='time' label="Hora *(hh:mm)" type="text" value=time columns=3}}
      {{form-field name='hashtag' label="Hashtag o mención" value=model.hashtag type="text" columns=3}}
    </div>
  </fieldset>
<button {{action "create"}} class="pure-input-1 button-ok pure-button">Añadir evento</button>
</form>
