<form class="event p3 mb3">
  {{form-field name='title' label="Título *" value=event.title type="text"}}
  {{form-field name='description' label="Descripción *" value=event.description type="textarea"}}
  {{form-field name='link' label="Link *" value=event.link type="text"}}
  {{form-field name='date' label="Fecha *(dd/mm/yyyy)" value=event.date type="date"}}
  {{form-field name='time' label="Hora *(hh:mm)" type="time" value=event.time}}
  {{form-field name='hashtag' label="Hashtag o mención" value=event.hashtag type="text"}}
<button {{action "submitAction" event}} class="btn btn-primary" disabled="{{if isButtonDisabled 'disabled'}}" >{{buttonText}}</button>

<div class="inline-block {{unless isChromeExtensionHintVisible 'hide'}}">
  o prueba la <a href='https://chrome.google.com/webstore/detail/vlctechhub-publisher-addo/jmphppchcbgfglglfbemgbjligclmcmc' target='_blank'>extension de Chrome</a> para publicar este evento.
</div>

</form>
