{{#if hasLinkToTwitter}}
  <a href="{{href}}" target="_blank" title="Ver en Twitter">
  <img src="{{avatar}}" class="{{classNames}}" style="width:240px" />
  </a>
{{else}}
  <img src="{{avatar}}" class="{{classNames}}" style="width:240px" />
{{/if}}
