<article class="expandable-list {{if isExpanded '-expanded'}}">
  <header>
    <div class="who">
      <div class="job-title">
        {{#link-to 'job.list.detail' item class="title" title=item.title}}
          {{shorten-text item.title 55}}
        {{/link-to}}
      </div>
      <div>
        <a href="{{item.company.link}}" class="black" target="_blank">
          {{item.company.name}}
        </a>
      </div>
      <div>
        {{#each item.tags as |tag|}}
          <span class="label -ghost">{{tag}}</span>
        {{/each}}
      </div>
    </div>
    <div class="job-col when">
      <span title="{{moment-format item.published_at 'ddd DD MMM'}}">{{moment-from-now item.published_at}}</span>
    </div>
  </header>
  {{#if isExpanded}}
    <div class="job-details">
      <div class="item-summary">
        <div>Descripción</div>
        {{{ linkify-text item.description }}}
      </div>
      <div class="item-summary">
        <div>Sueldo</div>
        {{ item.salary }}
      </div>
      <div class="item-summary">
        <div>Cómo contactar</div>
        {{#if item.how_to_apply}}
          {{ item.how_to_apply }}
        {{else}}
          <a href='{{item.link}}'>Instrucciones en la oferta</a>
        {{/if}}
      </div>
      {{#if item.link }}
        <div class="source-link">
          <a href="{{item.link}}" target="_blank" class="button">Ver fuente</a>
        </div>
      {{/if}}
    </div>
  {{/if}}
</article>
