<article class='expandable-list {{if isExpanded 'expanded'}}'>
    <header>
      <ul class=''>
        <li class=''>
          <time datetime='{{moment-format item.published_at 'YYYY-MM-DDTHH:mm' }}' class='date' title="{{moment-from-now item.published_at}}">
            {{moment-format item.published_at 'DD/MM'}}
          </time>
        </li>
        <li class=''  {{action 'toggleExpand' item}}>
          <h3>
            <a href='job/board/{{item.id}}' class='title' title="{{item.title}}">
              {{shorten-text item.title 55}}
            </a>
          </h3>
       </li>
       <li class=''>
        {{#each item.tags as |tag|}}
          <span class="label">{{tag}}</span>
        {{/each}}
       </li>
        <li class=''>
          {{#if item.company}}
            <span class='muted'>
              por <a href="{{item.company.link}}" class="black" target="_blank">{{item.company.name}}</a>
            </span>
        {{/if}}
        </li>
        </ul>
   </header>
  {{#if isExpanded}}
    <div>
      {{#if item.link }}
          <div class="external-link">
            <a href="{{item.link}}" target="_blank" class="button">Ver fuente</a>
          </div>
        {{/if}}
        <p class="item-summary mt2">
          {{{ linkify-text item.description }}}
        </p>
        <p class="item-summary mt2">
          <span class="bold">Cómo contactar:</span>
          {{#if item.how_to_apply}}
            {{ item.how_to_apply }}
          {{else}}
            <a href='{{item.link}}'>Instrucciones en la oferta</a>
          {{/if}}
        </p>
        <p class="item-summary mt2">
          <span class="bold">Sueldo:</span>
          {{ item.salary }}
        </p>
    </div>
  {{/if}}
</article>
