<article class='event-one-line py1 px2 {{if isExpanded 'expanded'}}'>
  <div class='flex flex-end'>
    <header class='flex-auto'>
      <ul class='list-reset mb0'>
        <li class='inline-block mr2'>
          <time datetime='{{moment-format item.date 'YYYY-MM-DDTHH:mm' }}' class='event-date font-ubuntu' title="{{moment-from-now item.date}}">
            {{moment-format item.date 'ddd DD MMM HH:mm' }}h
          </time>
        </li>
        <li class='inline-block mr1'  {{action 'toggleExpand' item}}>
          <h3 class='h3 font-ubuntu caps black m0'>
            <a href='events/upcoming/{{item.id}}' class='event-title black' title="{{item.title}}">
              {{shorten-text item.title 55}}
            </a>
          </h3>
       </li>
        <li class='inline-block mr2'>
          {{#if hasHashtag}}
            <span class='muted'>
              por {{event/link-to-twitter hashtag=item.hashtag}}
            </span>
        {{/if}}
        </li>
        </ul>
   </header>
   <div class='hidden'>
    <div class='event-icons'>
    {{#unless item.isPastEvent}}
      {{event/link-to-calendar title=item.title uri=item.link date=item.date}}
    {{/unless}}
    {{event/link-to-event uri=item.link}}
    </div>
    </div>
  </div>
  {{#if isExpanded}}
      <p class="event-summary mt2">
        {{{ linkify-text item.description }}}
      </p>
  {{/if}}
</article>
