<article class='expandable-list {{if isExpanded 'expanded'}}'>
    <header>
      <ul>
        <li>
        <time
          datetime='{{moment-format item.date 'YYYY-MM-DDTHH:mm' }}'
          class='date'
          title="{{moment-from-now item.date}}">
            {{moment-format item.date 'ddd DD MMM HH:mm' }}h
          </time>
        </li>
        <li {{action 'toggleExpand' item}}>
          <h3>
            <a href='events/upcoming/{{item.id}}' class='title' title="{{item.title}}">
              {{shorten-text item.title 55}}
            </a>
          </h3>
       </li>
        <li>
          {{#if hasHashtag}}
            <span class='muted'>
              por {{event/link-to-twitter hashtag=item.hashtag}}
            </span>
        {{/if}}
        </li>
        </ul>
   </header>
   {{#if isExpanded}}
     <div class="actions">
       <a href="{{item.link}}" target="_blank" class="button -primary"> Ver fuente </a>
       {{#unless item.isPastEvent}}
         <a href="{{item.calendarURL}}" target="_blank" class="button"> Añadir al calendario </a>
     {{/unless}}
   </div>
   <p class="item-summary">
   {{{ linkify-text item.description }}}
   </p>
 {{/if}}
 </article>
