<article class="event-card">
  <div>
    <div class="avatar">
      {{event/event-avatar event=event}}
    </div>
    <div class="body">
      <time
        datetime='{{moment-format event.date 'YYYY-MM-DDTHH:mm' }}'
        class='date'
        title="{{moment-from-now event.date}}">
          {{moment-format event.date 'ddd DD MMM HH:mm' }}h
      </time>
      <div class="title">
        {{#link-to 'event.detail' event}}
          {{event.title}}
        {{/link-to}}
      </div>
    </div>
  </div>
</article>

