<label for='{{name}}'>{{label}}</label>
{{#if isTextarea }}
  {{textarea name=name value=value class=elementClass}}
{{/if}}

{{#if isDate}}
  {{pikaday-input name=name value=value format="DD/MM/YYYY" class=elementClass useUTC=true}}
{{/if}}

{{#if isTime}}
  {{input type='text' value=value name=name class=elementClass}}
{{/if}}

{{#if isInput}}
  {{input type=type value=value name=name class=elementClass}}
{{/if}}
<span class='help-text'>
  {{helpText}}
</span>


