<div class="site">
  <header class="menu -mobile">
  <div class="logo">
    <img src="/img/title.png" alt="VLCTechhub" title="VLCTechhub"/>
  </div>
  <div class="hamburger">
    <a  href='#'  {{action "toggleMobileMenu"}}>
      <img src="/img/icon-menu.png"/>
    </a>
  </div>
  </header>
  {{#if mobileMenuExpanded}}
    <nav class="menu-options -mobile">
    <ul>
      <li>{{#link-to 'event.upcoming' (query-params view='list') classNames='black'}}Agenda{{/link-to}}</li>
      <li>{{#link-to 'job.list' classNames='black'}} Empleo <span class="label -danger">{{ totalJobs }}</span> {{/link-to}}</li>
    </ul>
    </nav>
  {{/if}}

  {{common/app-desktop-menu
    currentPath=currentPath
    totalJobs=totalJobs
    actionComponent=menuAction
  }}

  <main>
    <div class="container">
      {{outlet}}
    </div>
  </main>

  {{common/app-footer}}
</div>
