{{event/section-title text="Próximos eventos"}}

<div class='clearfix'>
	<div class='right muted'>
		<p>{{#link-to 'event.upcoming'}}Ver listado detallado{{/link-to}}</p>
	</div>
</div>

<div class="event mb2 p2">
  {{#each model as |event| }}
  <ul class='list-reset event-one-line p1 mb0'>
  	<li class='event-date font-ubuntu inline-block mr2'
  		title="{{moment-from-now event.date}}">
  		{{moment-format event.date 'DD MMM HH:mm' }}h
  	</li>
  	<li class='inline-block'><a href='{{event.link}}' parent='_blank' class='event-title h4 py1 bold black'>{{event.title}}</a></li>
  	<li class='inline-block'>por {{event/link-to-twitter event=event}}</li>
  </ul>
  {{/each}}
</div>
