<form class="box">
  {{event/form-field
    name="title"
    label="Puesto *"
    value=job.title
    type="text"
    helpText="Ej: 'Desarrollador ruby', 'Diseñador UX', 'Programador senior .Net'"
  }}

  {{event/form-field
    name="description"
    label="Descripción *"
    value=job.description
    type="textarea"
    helpText="Describe con detalle lo que implica el puesto, qué tipo de candidato buscas, cómo se trabaja en tu empresa y qué beneficios ofrecéis."
  }}

  {{event/form-field
    name="tag"
    label="Palabras clave"
    value=job.tags
    type="tag"
    helpText="Breve listado separado por comas. Ej: javascript, aws, marketing, photoshop"
  }}

  {{event/form-field
    name="salary"
    label="Sueldo"
    value=job.salary
    type="text"
    helpText="Los candidatos contactan más con empresas que publican el sueldo en la oferta."
  }}

  {{event/form-field
    name="how-to-apply"
    label="Cómo inscribirse"
    value=job.how_to_apply
    type="text"
    helpText="Escribe las instrucciones para inscribirte a tu oferta aquí. Ej: 'Mándanos una carta de presentación y tu cv a la direccion de correo xxx@xxx.com. Cuéntanos por qué eres el candidato ideal!'"
  }}

  {{event/form-field
    name="link"
    label="URL de la oferta"
    value=job.link
    type="text"
    helpText="Si tienes publicada la oferta en tu página web puedes poder aquí el link."
  }}


  {{event/form-field
    name="company-name"
    label="Nombre de la empresa *"
    value=job.company.name
    type="text"
  }}

  {{event/form-field
    name="company-link"
    label="Web de la empresa *"
    value=job.company.link
    type="text"
  }}

  {{event/form-field
    name="company-twitter"
    label="Twitter de la empresa"
    value=job.company.twitter
    type="text"
    helpText="Te nombraremos cuando se publique la oferta. Ej: @mozilla"
  }}

  {{event/form-field
    name="email"
    label="Email de contacto *"
    value=job.contactEmail
    type="text"
    helpText="Email contacto en caso de tener alguna duda con la oferta. Este email no se publicará con la oferta."
  }}

  <button
    {{action "submit"}}
    class="button -primary"
    disabled={{unless job.isValid 'disabled'}}
  >
    Publicar
  </button>
</form>
