

<div class="button-ribbon">
  <div class="button-ribbon-item">
    {{event/section-title text="Agenda"}}
  </div>
  <div class="button-ribbon-item">
    <ul class="button-menu-list">
      <li>
        {{link-to 'Listado' 'event.upcoming'
          (query-params view='list')
          classNames='button -submenu'}}
      </li>
    <li>
      {{link-to 'Calendario' 'event.upcoming'
        (query-params view='calendar')
        classNames='button -submenu'}}
      </li>
    </ul>
  </div>
</div>

{{#if isAnnouncementVisible}}
  <div class="announcement">
    <a href="http://vlctechfest.org">
      PSST! No te pierdas VLCTechFest el próximo 2 de junio, organizado por VLCTechHub!
    </a>
  </div>
{{/if}}

{{event/event-list
  events=model
  isVisible=isListVisible
}}

{{event/event-calendar
  events=model
  isVisible=isCalendarVisible
}}

