

<div class="button-ribbon">
  <div class="button-ribbon-item">
    {{event/section-title text="Agenda"}}
  </div>
  <div class="button-ribbon-item">
    <ul class="button-menu-list">
      <li>
        {{link-to 'Listado' 'event.upcoming'
          (query-params view='list')
          classNames='button -submenu'}}
      </li>
    <li>
      {{link-to 'Calendario' 'event.upcoming'
        (query-params view='calendar')
        classNames='button -submenu'}}
      </li>
    </ul>
  </div>
</div>

{{event/event-list
  events=model
  isVisible=isListVisible
}}

{{event/event-calendar
  events=model
  isVisible=isCalendarVisible
}}

